:root {
  font-size: 1.2em;
}

body {
  color: #f5f5f5;
  /* font: 14px "Lucida Grande", Helvetica, Arial, sans-serif; */
}

main {
  padding: 5vw;
}

a {
  color: #00b7ff;
}

form label {
  font-size: 1.2em;
}
