:root {
  font-size: 1.2em;
}

body {
  color: #f5f5f5;
  /* font: 14px "Lucida Grande", Helvetica, Arial, sans-serif; */
}

main {
  padding: 50px;
}
/* 
header {
  position: fixed;
  width: 100%;
} */

a {
  color: #00b7ff;
}

/* header {
  position: fixed;
} */

form label {
  font-size: 1.2em;
}
