@import url("https://fonts.googleapis.com/css2?family=Otomanopee+One&display=swap");

:root {
  font-size: 1.2em;
}

body {
  color: #f5f5f5;
  font-family: "Otomanopee One", Helvetica, Arial, sans-serif;
}

main {
  padding: 5vw;
}

a {
  color: #00b7ff;
}

form label {
  font-size: 1.2em;
}
